<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand ml-4" href="<%=root_path %>" ><i class="fas fa-paw mr-2"></i>Meiko Shop</a>
      <button class="navbar-toggler ml-auto mr-2" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav ml-auto">
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% else %>

        <div class="dropdown">
          <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=current_user.email%>
          </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Mon profil", profile_path, class:"dropdown-item" %>

              <% if current_user.is_admin %>
                <%= link_to "Espace admin", admin_root_path, class:"dropdown-item" %>
              <% end %>

              <%= link_to "Se déconnecter", destroy_user_session_path, class:"dropdown-item", method: :delete %></div>
            </div>
        </div>
        <%end %>
      </ul>

      <ul class="navbar-nav mr-4">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'add_shopping_cart', cart_path, class: "nav-link material-icons text-white " %>
            <% else %>
            <%= link_to 'add_shopping_cart', new_user_session_path, class: "nav-link material-icons text-white" %>
          <% end %>
        </li>
      </ul>

    </div>
  </nav>
</div>
