<div class="container mt-5">
  <div class="row">
    <div class="col-9">
      <div class="card mb3">
        <ul class="list-group list-group-flush">
          <% @all_items.each do |item| %>

            <li class="list-group-item">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="<%= item.image_url%>" class="card-img" alt="chat">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.title %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <p class="card-text"><small class="text-muted">Prix: <%= item.price %>€</small></p>
                    <% cart_item_join = CartItemJoin.find_by(cart: @cart, item: item) %>
                    <%= link_to "Supprimer", cart_item_join_path(cart_item_join), method: :delete, class: "btn btn-secondary btn-sm btn-block"%>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb3">
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <h4>Total: <%= @cart.total_price %> €</h4>
              <% if @cart.total_price.to_i != 0%>
                <%= form_tag user_cart_orders_path(current_user.id, @cart.id) do %>
                  <article>
                    <% if flash[:error].present? %>
                      <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>
                  </article>
                  <button class="btn btn-secondary btn-sm btn-block" onclick="checkout();">Passer la commande</button>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="Paiement"
                          data-amount="<%= @cart.total_price.to_i * 100 %>"
                          data-locale="fr"
                          data-currency="eur"
                          type="text/javascript"></script>
                          <style type="text/css">.stripe-button-el { display: none }</style>
                <% end %>
              <% else %>
                 <button class="btn btn-secondary btn-sm btn-block">Panier vide</button>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>