<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Test Boutique Chat</title>

</head>

<body>

  <div class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://res.cloudinary.com/die4stsje/image/upload/c_scale,w_816/v1591280030/1_wn61ic.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-4 rounded">
          <h3 class="section-heading mb-3">
            <span class="section-heading-upper">Miauu..</span>
            <span class="section-heading-lower">Amoureux de Meiko</span>
          </h3>
          <p class="mb-2">Bienvenue sur votre boutique de photographies de Meiko. En pleine sieste, dans la nature ou en train de jouer, découvrez ces magnifiques photos !
          </p>
          <br>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#boutic-img-cats">Les photos</a>
          </div>
        </div>
      </div>
    </div>
  </div>

      <main role="main">
        <div id="boutic-img-cats" class="album py-5 bg-light">
          <div class="container">
            <div class="card-columns">
              <% @items.order([:id]).each do |item| %>
                <% @id = Item.where(title: "#{item.title}").ids %>

                    <div class="card mt-4 custom-card">
                      <%= image_tag item.picture, alt: 'picture', :class => "bd-placeholder-img card-img-top" %>
                      <div class="card-body">
                        <p class="card-text"><%= item.title %></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex">
                            <a class="btn btn-sm btn-outline-primary" href="<%= item_path(item.id) %>" role="button">Voir</a>

                            <% if user_signed_in? %>
                              <%= link_to "Ajouter au panier", cart_item_join_index_path(item_id: item), method: :create, class: "btn btn-sm btn-outline-secondary ml-2" %>
                              <% else %>
                              <%= link_to "Ajouter au panier", new_user_session_path, class: "btn btn-sm btn-outline-secondary ml-2" %>
                            <% end %>

                          </div>
                          <small class="text-muted"><%= item.price %> €</small>
                        </div>
                      </div>
                    </div>

              <% end %>
            </div>
          </div>
        </div>
      </main>


    </body>
</html>

