<div class="container mt-5 mb-5">
  <div class="card mb3">
    <div class="card-header d-flex">
      <a class="iconplus fas fa-expand-arrows-alt" href="<%= @item.image_url %>"></a>
      <img id="imgshow" src="<%= @item.image_url %>" alt="Card image">
    </div>
    <div class="card-body list-group-item">
      <div class="row">
        <div class="col-8" id="section">
          <h4><%= @item.title %></h4>
          <p><%= @item.description %></p>
        </div>
        <div class="col-4">
          <h4>Prix: <%= @item.price %> €</h4>
            <div class="form-group">
              <%= button_to "Ajouter au panier", root_path, class: "btn btn-secondary btn-lg btn-block", type: "button" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
