<!DOCTYPE html>
<html>
  <head>
    <title>BoutiqueDesChats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.css">

  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
