<!DOCTYPE html>
<html>
  <head>
    <title>BoutiqueDesChats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <script src="https://kit.fontawesome.com/7427ba72d8.js" crossorigin="anonymous"></script>
  </body>
</html>
